<section class="homepage-container">
  <div class="hero-container">
    <h1>Welcome to Tasty Bytes</h1>
  </div>

  <div class="starting-container">
    <div class="start-card" id="recipeCard">
      <h2>View Our Recipes</h2>
    </div>
    <div class="start-card" id="profileCard">
      <h2><a href="/login">Create an Account</a></h2>
    </div>
  </div>
</section>