<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Recipe:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="recipe_name">Recipe name:</label>
        <input class="form-input" type="text" id="recipe_name" name="recipe_name" />
      </div>
      <div class="form-group">
        <label for="totalTime">Total Cooking Time:</label>
        <input class="form-input" type="number" id="totalTime" name="totalTime" />
      </div>
      <div class="form-group">
        <label for="ingredients">Ingredients:</label>
        <textarea class="form-input" id="ingredients" name="ingredients"></textarea>
      </div>
      <div class="form-group">
        <label for="steps">Steps:</label>
        <textarea class="form-input" id="steps" name="steps"></textarea>
      </div>
      <div class="form-group">
        <label for="description">Directions:</label>
        <textarea class="form-input" id="description" name="description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Your Recipes:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
