header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.recipe-container {
  margin: 0 auto;
  width: 50%;
  padding: 0 50px;
}

ul{
  padding: 0;
}

li {
  list-style-type: none;
}

#recipe_name{
  text-align: center;
}

textarea {
  resize: none;
}